h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.input-box{
 width: 300px;
 
}
input{
    width: 400px;
    height: 50px;
}
.btn{
    width:300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}